<div class='mt-4'>
   <form method='POST' action=''>
      <div class='mb-3'>
         <label for='search-input' class='form-label'>Search</label>
         <input type='text' class='form-control' id='search-input' placeholder='Searching for...' name='q' />
      </div>

      <div class='mb-3'>
         <label for='gender-input' class='form-label'>Gender</label>
         <select class='form-control' id='gender-input' name='gender'>
            <option value=''>-- Chọn giới tính</option>
            <option value='male'>Nam</option>
            <option value='female'>Nữ</option>
         </select>
      </div>
      <button type='submit' class='btn btn-primary'>Search</button>
   </form>
</div>